body	{
	background-color: #B8860B;
}

#head
{
	font-family:"Veranda";
	font-size:100px;
	border-style: solid;
	boder-width: 5px;
	border-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 5px;
	text-align: right;
}

#image
{
	border-style: dotted;
	bodrer-width: 2px;
	border-color: white;
	text-align: center;
	
	
}