body	{
	background-color: #B8860B;
}

#head
{
	font-family:"Veranda";
	font-size: 40px;
	border-style: solid;
	boder-width: 5px;
	border-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 5px;
	text-align: right;
}

#container
{
	border-style: solid;
	border-color: red;
	margin: 10px;
	height: 90%;
}
#soccerContainer
{
	border-style:solid;
	border-color:#00ffff;
	border-width: 5px;
	height:95%;
}
#soccerText
{
	border-style: solid;
	border-color: orange;
	float:left;
	width: 70%;
}

#soccerImage
{
	
	border-style: dotted;
	border-width: 2px;
	border-color: white;
/*	padding-top: 10px;
	padding-bottom: 10px;*/
	float:right;
	width: 28%;
}


div > img {
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}