body	{
	background-color: #00FFFF;
}

#head
{
	font-family:"Veranda";
	font-size:40px;
	border-style: solid;
	boder-width: 5px;
	border-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 5px;
	text-align: right;
}